<template>
    <div class="container px-0">
        <div class="card card-default">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    Cuentas ({{accounts.length}})
                    <div> 
                        <button @click="displayForm('new')" v-bind:class="{'btn-danger': newAccount.state, 'btn-success': !newAccount.state}" class="btn btn-sm">
                        <i v-bind:class="{'fa fa-times': newAccount.state, 'fa fa-plus': !newAccount.state}"></i>
                        </button>

                        <button @click="displayForm('edit')" v-bind:class="{'btn-danger': editAccount.state, 'btn-success': !editAccount.state}" class="btn btn-sm">
                        <i v-bind:class="{'fa fa-times': editAccount.state, 'fa fa-edit': !editAccount.state}"></i>
                        </button>

                        <button @click="displayForm('delete')" v-bind:class="{'btn-danger': deleteAccount.state, 'btn-success': !deleteAccount.state}" class="btn btn-sm">
                        <i v-bind:class="{'fa fa-times': deleteAccount.state, 'fa fa-trash': !deleteAccount.state}"></i>
                        </button>
                    </div>
                </div>               
               <div v-if="newAccount.state">
                    <hr>
                    <div class="row mx-0">
                        <div class="col-lg-8 px-1 mb-2">
                            <input type="text" v-bind:class="{'is-invalid': newAccount.stateInput == 'newAccountInputName'}" name="newAccountInputName" placeholder="nombre" class="form-control">
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newAccount.alertText }}
                            </div>
                        </div>
                        <div class="col-lg-4 px-1 mb-2">
                            <input type="number" v-bind:class="{'is-invalid': newAccount.stateInput == 'newAccountInputPercent'}" name="newAccountInputPercent" placeholder="porcentaje %" class="form-control">
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newAccount.alertText }}
                            </div>
                        </div>
                        <div class="col-lg-10 px-1 mb-2">
                            <textarea class="form-control" rows="1" v-bind:class="{'is-invalid': newAccount.stateInput == 'newAccountInputNote'}" placeholder="nota" name="newAccountInputNote"></textarea>
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newAccount.alertText }}
                            </div>
                        </div>
                         <div class="col-lg-2 px-1 mb-2">
                            <button @click="saveNewAccount()" class="btn btn-primary btn-block">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
               </div>

               <div v-if="editAccount.state">
                    <hr>
                    <div class="row mx-0">
                        <div class="col-lg-12 px-1 mb-2">
                            <select name="cuentas" @change="editData" v-model="editAccount.selected" class="form-control" >
                                <option disabled selected value="null">Selecciona una Cuenta</option>
                                <option v-if="d.name != 'Wallet'" v-for="d in accounts" :key="d.id" :value="d.id">
                                    <span>{{d.name}}</span>
                                </option>                        
                            </select>
                        </div>
                        <div class="col-lg-8 px-1 mb-2">
                            <input type="text" v-bind:class="{'is-invalid': editAccount.stateInput == 'editAccountInputName'}" name="editAccountInputName" placeholder="Nuevo Nombre" class="form-control">
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newAccount.alertText }}
                            </div>
                        </div>
                        <div class="col-lg-4 px-1 mb-2">
                            <input type="number" v-bind:class="{'is-invalid': newAccount.stateInput == 'editAccountInputPercent'}" name="editAccountInputPercent" placeholder=" Nuevo porcentaje %" class="form-control">
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newAccount.alertText }}
                            </div>
                        </div>
                        <div class="col-lg-10 px-1 mb-2">
                            <textarea class="form-control" rows="1" v-bind:class="{'is-invalid': newAccount.stateInput == 'editAccountInputNote'}" placeholder="nota" name="editAccountInputNote"></textarea>
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newAccount.alertText }}
                            </div>
                        </div>
                         <div class="col-lg-2 px-1 mb-2">
                            <button @click="saveEditAccount()" class="btn btn-primary btn-block">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
               </div>

               <div v-if="deleteAccount.state">
                    <hr>
                    <div class="row mx-0">
                        <div class="col-lg-10 px-1 mb-2">
                            <select name="cuentas" v-model="deleteAccount.selected" class="form-control" >
                                <option disabled selected value="null">Selecciona una Cuenta</option>
                                <option v-if="d.name != 'Wallet'" v-for="d in accounts" :key="d.id" :value="d.id">
                                    <span>{{d.name}}</span>
                                </option>                        
                            </select>
                        </div>
                         <div class="col-lg-2 px-1 mb-2">
                            <button @click="deleteAccountMethod()" class="btn btn-danger btn-block">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
               </div>
            </div>
            <div class="card-body">
                <div v-if="state" class="alert alert-success alert-dismissible fade show" role="alert">
                    {{movement}} Satisfactoriamente
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" v-for="(ac, index) in accounts" :key="index">
                        <p class="justify-content-between d-flex mb-1 align-items-center">
                            <span>
                                <button class="btn-comment" data-toggle="popover" data-placement="right" title="Nota" :data-content="ac.note">
                                    <i class="fa fa-comment-o"></i>
                                </button> 
                                {{ac.name}} <span v-if="ac.name != 'Wallet'">({{ac.percent}}%)</span></span>
                            <span style="float: left;">${{ac.amount_formated}}</span>                   
                            <button v-on:click="showInput(index)" v-bind:class="{'btn-outline-danger': ac.stateAc, 'btn-outline-primary': !ac.stateAc}" class="btn btn-sm ml-2">
                                <i v-bind:class="{'fa fa-times': ac.stateAc, 'fa fa-edit': !ac.stateAc}"></i>
                            </button>                                 
                        </p>
                        <div class="d-flex justify-content-between mb-0 mt-2" v-if="ac.stateAc">
                            <div class="w-100">
                                <input type="number" namefocus="focus" v-bind:class="{'is-invalid': stateAlert.state}" :name="ac.name" placeholder="Monto" min="1000" class="form-control" v-model="monto">
                                <div class="invalid-feedback mt-0 mb-2" v-if="stateAlert.state">
                                  {{ stateAlert.text }}
                                </div>
                            </div>
                            <div>
                                <button type="submit" v-on:click.prevent="leave(index)" class="btn btn-outline-primary ml-2">retirar <i class="fa fa-sign-out"></i></button>
                            </div>
                        </div>                        
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
import EventBus from '../bus'
    export default {
        data() 
        {
            return {                      
                accounts: [
                    // {id: 1, name: 'Diesmo', percent: 10, stateAc: false, amount: 1000},
                    // {id: 2, name: 'Ahorros', percent: 20, stateAc: false, amount: 1000},
                    // {id: 3, name: 'Credito', percent: 5, stateAc: false, amount: 1000},
                    // {id: 4, name: 'Esposa', percent: 30, stateAc: false, amount: 1000}
                ],
                monto: null,
                movement: '',
                state: false,
                stateAlert:
                {
                    text: '',
                    state: false
                },
                newAccount: 
                {
                    state: false,
                    data: null,
                    alertText: false,
                    stateInput: ''
                },
                editAccount: 
                {
                    state: false,
                    data: null,
                    alertText: false,
                    stateInput: '',
                    selected: null
                },
                deleteAccount: 
                {
                    state: false,
                    selected: null
                },
            }
        },        
        mounted() 
        {            
            this.list()   
        },
        created() 
        {            
            EventBus.$on('updateAccounts',(item) => 
            {
                // console.log(item)
                this.newMovement('consignacion', item.cash)
                for (let index = 0; index < item.accounts.length; index++) 
                {
                    let params = 
                    {
                        'id' : item.accounts[index],
                        'cash' : item.cash
                    }

                    axios.post('/cashin', params).then((response) => 
                    {
                        // console.log(response.data)
                        for (let index = 0; index < this.accounts.length; index++) 
                        {
                            if (this.accounts[index].id == response.data.id) 
                            {
                                this.accounts[index].amount = (response.data.amount)
                                this.accounts[index].amount_formated = new Intl.NumberFormat("de-DE").format(response.data.amount)
                            }
                        }
                    })
                }
                let param = 
                {
                    'accounts': item.accounts,
                    'cash': item.cash
                }                
                axios.post('/walletIn', param).then((response) => {
                    console.log(response)
                    for(var i =0; i< this.accounts.length; i++)
                    {
                        if(this.accounts[i].id == response.data.id)
                        {
                            this.accounts[i].amount = (response.data.amount)
                            this.accounts[i].amount_formated = new Intl.NumberFormat("de-DE").format(response.data.amount)
                        }
                    }
                })
                this.movement = 'Consignación realizada'
                this.state = true
            });
        },
        methods:
        {
             displayForm(form)
            {
                if(form == 'edit')
                {
                    this.editAccount.state = !this.editAccount.state
                    this.newAccount.state = false
                    this.deleteAccount.state = false
                }
                else{
                    if(form == 'new')
                    {
                        this.newAccount.state = !this.newAccount.state
                        this.editAccount.state = false
                        this.deleteAccount.state = false
                    }
                    else
                    {
                        if(form == 'delete')
                        {
                            this.deleteAccount.state = !this.deleteAccount.state
                            this.editAccount.state = false
                            this.newAccount.state = false
                        }
                    }
                }
            },
            editData()
            {
                axios.post('/account', {account: this.editAccount.selected}).then((response) => {
                    console.log(response)
                    $("input[name=editAccountInputName]").val(response.data.concept)
                    $("input[name=editAccountInputPercent]").val(response.data.percent)
                    $("textarea[name=editAccountInputNote]").val(response.data.note)
                })
            },
            list()
            {
                axios.post('/accountslist').then((response) => 
                {
                    this.accounts = response.data
                    // console.log(response.data)
                })
                $('[data-toggle="popover"]').popover()
            },
            saveNewAccount()
            {
                let name = $("input[name=newAccountInputName]").val()
                let percent = $("input[name=newAccountInputPercent]").val()
                let note = $("textarea[name=newAccountInputNote]").val()  
                let send = true;                             
                if(name == '')
                {
                    this.newAccount.stateInput = 'newAccountInputName'
                    this.newAccount.alertText = 'el campo no puede estar vacio' 
                    send = false;                  
                }
                else
                {
                    if(percent == '' || (percent < 0 || percent > 100))
                    {
                        this.newAccount.stateInput = 'newAccountInputPercent'
                        this.newAccount.alertText = 'el campo no es valido'
                        send = false;
                    }
                    else
                    {
                        if(note == '')
                        {
                            this.newAccount.stateInput = 'newAccountInputNote'
                            this.newAccount.alertText = 'el campo no puede estar vacio'
                            send = false;
                        }
                    }
                }                
                if(send)
                {
                    const params =
                    {
                        'name': name,
                        'percent': percent,
                        'note': note
                    }
                     axios.post('/register/newAccount',
                    {
                        params
                    })
                    .then((response) =>  
                    {     
                        this.list()
                        this.$swal(
                        {
                            type: 'success',
                            text: 'Cuenta registrada exitosamente',                        
                        });
                        $("input[name=newAccountInputName]").val('')
                        $("input[name=newAccountInputPercent]").val('')
                        $("textarea[name=newAccountInputNote]").val('')
                        this.newAccount.state = false; 
                        EventBus.$emit('updateSubAccountList')
                        $('[data-toggle="popover"]').popover()
                    })
                    .catch(function (error) 
                    {
                        this.$swal(
                        {                
                            title: "error",
                            type: "error",   
                            text: `${error}`,                                
                            showCancelButton: true,                                
                        })
                    });
                }
            },
            saveEditAccount()
            {
                let name = $("input[name=editAccountInputName]").val()
                let percent = $("input[name=editAccountInputPercent]").val()
                let note = $("textarea[name=editAccountInputNote]").val()  
                let send = true;
                let toWallet = false;                             
                if(name == '')
                {
                    name = null                
                }
                else
                {
                    if(percent == '' || (percent < 0 || percent > 100))
                    {
                        this.newAccount.stateInput = 'newAccountInputPercent'
                        this.newAccount.alertText = 'el campo no es valido'
                        send = false;
                    }
                    else
                    {
                        if(note == '')
                        {
                            note = null
                        }
                    }
                }                
                if(send)
                {
                    this.$swal(
                    {                
                        title: "¿Deseas que el dinero de esta cuenta se envíe a Wallet?",
                        type: "question",   
                        text: "De lo contrario será eliminado",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        cancelButtonText: 'No',
                    })
                    .then((result) => 
                    {
                        if(result.value)
                        {
                            toWallet = true
                        }
                        
                        const params =
                        {
                            'name': name,
                            'percent': percent,
                            'note': note,
                            'account': this.editAccount.selected,
                            'wallet': toWallet
                        }
                        axios.post('/register/editAccount',
                        {
                            params
                        })
                        .then((response) =>  
                        {     
                            this.list()
                            this.$swal(
                            {
                                type: 'success',
                                text: 'Cuenta modificada exitosamente',                        
                            });
                            $("input[name=editAccountInputName]").val('')
                            $("input[name=editAccountInputPercent]").val('')
                            $("textarea[name=editAccountInputNote]").val('')
                            this.editAccount.state = false; 
                            this.editAccount.selected = null;
                            EventBus.$emit('updateSubAccountList')
                            $('[data-toggle="popover"]').popover()
                        })
                        .catch(function (error) 
                        {
                            this.$swal(
                            {                
                                title: "error",
                                type: "error",   
                                text: `${error}`,                                
                                showCancelButton: true,                                
                            })
                        });
                    })
                    
                }
            },
            deleteAccountMethod()
            {
                this.$swal(
                    {                
                        title: "¿Estás seguro que deseas eliminar esta cuenta?",
                        type: "question",   
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        cancelButtonText: 'No',
                    })
                    .then((result) => 
                    {
                        if(result.value)
                        {
                            axios.post('/register/deleteAccount', {account: this.deleteAccount.selected}).then((response) => {
                                this.list()
                                this.$swal(
                                {
                                    type: 'success',
                                    text: 'Cuenta eliminada exitosamente',                        
                                });
                                this.deleteAccount.state = false; 
                                this.deleteAccount.selected = null;
                                EventBus.$emit('updateSubAccountList')
                                $('[data-toggle="popover"]').popover()
                            })
                        }
                        else
                        {
                            this.deleteAccount.state = false; 
                            this.deleteAccount.selected = null;
                        }
                    })
            },
            leave(index)
            {                         
                // alert(this.monto) 
                // alert(this.accounts[index].amount)  
                if (this.monto > 1000 && Number.isInteger(this.monto/100)) 
                {
                    const a = this.accounts[index].amount
                    const b = this.accounts[index].amount
                    // alert(b)
                    if(this.monto <= parseInt(b))
                    {
                        let params = 
                        {
                            'id' : this.accounts[index].id,
                            'actual' : parseInt(b),
                            'retiro' : this.monto
                        }
                        axios.post('/upAccount', params).then((response) => 
                        {
                            // console.log(response)
                            this.accounts[index].stateAc = !this.accounts[index].stateAc;
                            this.newMovement('retiro', this.monto);
                            this.accounts[index].amount = response.data.amount
                            this.accounts[index].amount_formated = new Intl.NumberFormat("de-DE").format(response.data.amount)
                            EventBus.$emit('updateAmount', this.monto)
                            this.monto = null;
                            this.movement = 'Retiro realizado';
                            this.state = true;            
                            $('[data-toggle="popover"]').popover()                
                        });
                    }
                    else
                    {
                        this.stateAlert.text = 'Ingresa un monto menor al actual en la cuenta';
                        this.stateAlert.state = true;
                    }
                }
                else
                {
                    this.stateAlert.text = 'Ingresa un monto mayor a [1000] o un numero valido';
                    this.stateAlert.state = true;
                }
            },
            showInput(index)
            {
                for (var i = 0; i < this.accounts.length; i++) 
                {
                    if(i != index)
                        this.accounts[i].stateAc = false;
                }
                this.monto = null;
                this.stateAlert.state = false;
                this.accounts[index].stateAc = !this.accounts[index].stateAc;
                setTimeout(function(){$("input[namefocus=focus]").focus()},1)
            },
            newMovement(type,cash) 
            {
                let BusParams = 
                {
                    'type' : type,
                    'amount' : cash 
                }
                EventBus.$emit('newMovement', BusParams);
            }
        }
    }
</script>
