<template>
    <div class="container px-0">
        <div class="card card-default">
            <div class="card-header">Bolsa Principal 
                <div class="" v-show="state.state">({{ state.response ? 'guardado' : 'error al guardar'}})</div>
            </div>
            <div class="card-body">
                 <div v-if="sumP > 100" class="alert alert-danger alert-dismissible fade show" role="alert">
                    Has repartido más del 100% del ingreso entre tus cuentas
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <h1>$<span>{{amountShow}}</span></h1>
                <div>
                    <form class="">  
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="number" min="1000" v-model="cash" v-bind:class="{'is-invalid': stateAlert.state}" name="cash" placeholder="monto" value="cash" class="form-control mx-0" autofocus>
                                <div class="invalid-feedback mt-0 mb-2">
                                  {{ stateAlert.text }}
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2 mb-2">
                               <div class="custom-control custom-checkbox" v-for="(sub, index) in sub_accounts" :key="index">
                                    <input type="checkbox" :value="sub.id" v-model="checkedSub" class="custom-control-input" :id="index" @click="sumPercent(index, sub.id)">
                                    <label class="custom-control-label" :for="index">{{ sub.name }}</label>
                                </div>                               
                            </div>                            
                        </div>
                    </form>                    
                </div>                
                <!-- <pre>{{ checkedSub }}</pre> -->
                <!-- <pre>{{ sub_accounts }}</pre> -->
                <p class=""><strong>suma porcentajes (%):</strong> {{sumP}}</p>
            </div>
            <div class="card-footer">
                <button type="submit" v-on:click.prevent="addCash" v-if="!btnDisabled" class="btn btn-success">Agregar Ingreso</button>
                <button v-else disabled class="btn btn-success">Agregar Ingreso</button>
            </div>
        </div>        
    </div>
</template>
<style type="text/css">
.hide
{
    display: none;
}
</style>
<script>
    import EventBus from '../bus'
    export default {
        data() {
        return {
            // lists: [],
            checkedSub: [],            
            sub_accounts: [],
            amount: 0,
            sumP: 0,
            amountShow: 0,
            account: 0,
            cash: null,  
            btnDisabled: false,
            stateAlert:
            {
                text: '',
                state: false
            },
            state: 
            {
                response: false,
                state: false
            },       
          }
        },
        created: function()
        {
            this.getSubAccount();
            EventBus.$on('updateAmount', (data) => 
            {
                const params = 
                {
                    cash: data*(-1)
                }
                axios.post('/register/bag',
                {
                    params
                })
                .then((response) =>  
                {                  
                    this.amount += response.data.amount;
                    this.formatNumber();
                })
                .catch(function (error) 
                {
                    this.$swal(
                    {                
                        title: "error",
                        type: "error",   
                        text: `${error}`,                                
                        showCancelButton: true,                                
                    })
                });
            })      

            EventBus.$on('updateSubAccountList', () =>
            {
                this.getSubAccount();
            }) 
        },
        mounted() 
        {
            // console.log('Component mounted.')
            axios.post('/bag').then((response) => 
            {                           
                this.amount = response.data;
                this.formatNumber()
            });
        },
        // computed: 
        // {
            // sumPercent()
            // {
            //     var sum = 0;
            //     for(var i = 0; i < this.checkedSub.length; i++)
            //     {
            //         for (var o = 0; o < this.sub_accounts.length; o++) 
            //         {
            //             if(this.checkedSub[i] == this.sub_accounts[o].id)
            //             {
            //                 this.sub_accounts[o].checked = true
            //                 sum += this.sub_accounts[o].percent
            //             }                        
            //         }
            //     }         
            //     this.sumP = sum;       
            //     return sum
            // }
        // },
        methods: 
        {
            sumPercent(index, id)
            {                   
                let afters = [];
                if(this.sub_accounts[index].checked)
                    this.sumP -= this.sub_accounts[index].percent
                else
                    this.sumP += this.sub_accounts[index].percent

                this.sub_accounts[index].checked = !this.sub_accounts[index].checked

                if(this.sumP > 100)
                {      
                    this.btnDisabled = true
                    // this.checkedSub[id] = null
                    // this.sumP -= this.sub_accounts[index].percent
                    // this.sub_accounts[index].checked = !this.sub_accounts[index].checked
                    // for(let i = 0; i < this.sub_accounts.length; i++)
                    // {
                    //     if(!this.sub_accounts[i].checked)
                    //     {                            
                    //         afters.push(this.sub_accounts[i])
                    //         this.sub_accounts[i].stateAc = true                         
                    //     }
                    // }                                      
                }  
                else
                {
                    if(this.sumP >= 0 && this.sumP <= 100)
                        this.btnDisabled = false
                }    
                // if(this.sumP < 100)
                // {
                //     for (var i = 0; i < afters.length; i++) 
                //     {   
                //         for (var j = 0; j < this.sub_accounts.length; j++) 
                //         {
                //             if(afters[i].id == this.sub_accounts[j].id)
                //                 alert(1)
                //                 this.sub_accounts[j].stateAc = false
                //         }                           
                //     }
                // }                              
            },           
            formatNumber()
            {
                let newCash = new Intl.NumberFormat("de-DE", {style: "currency", currency: "COP"}).format(this.amount)
                this.amountShow = newCash;   
            },
            getSubAccount()
            {  
                axios.post('/accountslist').then((response) => 
                {
                    this.sub_accounts = response.data
                })
            },
            addCash()
            {                 
                // if(this.cash == null)
                //     this.cash = 0;             
                if(this.cash <= 1000)
                {
                    this.stateAlert.text = 'Ingresa un monto mayor a [1000]';
                    this.stateAlert.state = true;
                    $("input[name=cash]").focus()
                }
                else
                {
                    if(!Number.isInteger(this.cash/100))
                    {
                        this.stateAlert.text = 'Ingresa un monto valido';
                        this.stateAlert.state = true;
                        $("input[name=cash]").focus()
                    }                
                    else
                    {
                        this.stateAlert.state = false;                    
                        if(this.checkedSub.length == 0)
                        {
                            this.$swal(
                            {
                                title: "info",
                                type: "info",
                                position: 'bottom-end',
                                text: "selecciona una sub-cuenta",                                 
                            })
                        }                    
                        else
                        {
                            let a = [];    
                            for (var i = 0; i < this.checkedSub.length; i++) 
                            {
                                for (let index = 0; index < this.sub_accounts.length; index++) 
                                {
                                    if (this.sub_accounts[index].id == this.checkedSub[i]) 
                                    {
                                        var thisis = index
                                        continue
                                    } 
                                }
                                a.push(this.sub_accounts[thisis].name)
                            }
                            this.$swal(
                            {                
                                title: "¿seguro de seleccionar estas cuentas?",
                                type: "question",   
                                text: "sub-cuentas seleccionadas",
                                showLoaderOnConfirm: true,
                                showCancelButton: true,
                                cancelButtonText: 'Cancelar',
                                html: JSON.stringify(a)
                            })
                            .then((result) => 
                            {
                                if(result.value) 
                                {                        
                                    const params = 
                                    {
                                        cash: this.cash
                                    }
                                    axios.post('/register/bag',
                                    {
                                        params
                                    })
                                    .then((response) =>  
                                    {
                                        let BusParams = {accounts: this.checkedSub, cash: this.cash}
                                        EventBus.$emit('updateAccounts', BusParams);                                        
                                        this.amount += response.data.amount;                        
                                        this.state.state = true;
                                        this.state.response = response.data.state;
                                        this.cash = null
                                        $("input[name=cash]").focus()
                                        this.sub_accounts = [];
                                        this.checkedSub = [];
                                        this.getSubAccount();
                                        this.formatNumber();
                                        this.sumP = 0
                                    })
                                    .catch(function (error) 
                                    {
                                        this.$swal(
                                        {                
                                            title: "error",
                                            type: "error",   
                                            text: `${error}`,                                
                                            showCancelButton: true,                                
                                        })
                                    });
                                }
                                else if (result.dismiss === Swal.DismissReason.cancel) 
                                {

                                }
                            })     
                        }               
                    } 
                }
            },

            // lista()
            // {                
            //     var url = 'bags';
            //     axios.get(url)
            //     .then(response => 
            //     {
            //         this.lists = response.data;
            //     })
            // }
        }
    }
</script>
