<template>
    <div class="container px-0">
        <div class="card card-default">
            <div class="card-header">            
                <div class="d-flex justify-content-between align-items-center">
                    Deudas ({{ countDebt }})
                    <div>
                    <button @click="displayForm('new')" v-bind:class="{'btn-danger': newDebt.state, 'btn-success': !newDebt.state}" class="btn btn-sm">
                    <i v-bind:class="{'fa fa-times': newDebt.state, 'fa fa-plus': !newDebt.state}"></i>
                    </button>

                    <button @click="displayForm('edit')" v-bind:class="{'btn-danger': editDebt.state, 'btn-success': !editDebt.state}" class="btn btn-sm">
                    <i v-bind:class="{'fa fa-times': editDebt.state, 'fa fa-edit': !editDebt.state}"></i>
                    </button>

                    <button @click="displayForm('delete')" v-bind:class="{'btn-danger': deleteDebt.state, 'btn-success': !deleteDebt.state}" class="btn btn-sm">
                    <i v-bind:class="{'fa fa-times': deleteDebt.state, 'fa fa-trash': !deleteDebt.state}"></i>
                    </button>
                    </div>
                </div>               
                <div v-if="newDebt.state">
                    <hr>
                    <div class="row mx-0">
                        <div class="col-lg-8 px-1 mb-2">
                            <input type="text" v-bind:class="{'is-invalid': newDebt.stateInput == 'newDebtInputName'}" name="newDebtInputName" placeholder="nombre" class="form-control">
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newDebt.alertText }}
                            </div>
                        </div>
                        <div class="col-lg-4 px-1 mb-2">
                            <input type="number" v-bind:class="{'is-invalid': newDebt.stateInput == 'newDebtInputPay'}" name="newDebtInputPay" placeholder="deuda" class="form-control">
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newDebt.alertText }}
                            </div>
                        </div>
                        <div class="col-lg-10 px-1 mb-2">
                            <textarea class="form-control" rows="1" v-bind:class="{'is-invalid': newDebt.stateInput == 'newDebtInputNote'}" placeholder="nota" name="newDebtInputNote"></textarea>
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newDebt.alertText }}
                            </div>
                        </div>
                         <div class="col-lg-2 px-1 mb-2">
                            <button @click="saveNewDebt()" class="btn btn-primary btn-block">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div v-if="editDebt.state">
                    <hr>
                    <div class="row mx-0">
                        <div class="col-lg-12 px-1 mb-2">
                            <select name="deudas" @change="editData" v-model="editDebt.selected" class="form-control" v-bind:class="{'is-invalid': newDebt.stateInput == 'newDebtInputName'}">
                                <option disabled selected value="null">Selecciona una Deuda</option>
                                <option v-for="d in debts" :key="d.id" :value="d.id">
                                    <span v-if="d.isPaid">{{d.concept}} (pagada)</span>
                                    <span v-else>{{d.concept}}</span>
                                </option>                        
                            </select>
                        </div>
                        <div class="col-lg-8 px-1 mb-2">
                            <input type="text" v-bind:class="{'is-invalid': editDebt.stateInput == 'editDebtInputName'}" name="editDebtInputName" placeholder="Nuevo Nombre" class="form-control">
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newDebt.alertText }}
                            </div>
                        </div>
                        <div class="col-lg-4 px-1 mb-2">
                            <input type="number" v-bind:class="{'is-invalid': editDebt.stateInput == 'editDebtInputPay'}" name="editDebtInputPay" placeholder="Nuevo Monto" class="form-control">
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newDebt.alertText }}
                            </div>
                        </div>
                        <div class="col-lg-10 px-1 mb-2">
                            <textarea class="form-control" rows="1" v-bind:class="{'is-invalid': editDebt.stateInput == 'editDebtInputNote'}" placeholder="Nueva Nota" name="editDebtInputNote"></textarea>
                            <div class="invalid-feedback mt-0 mb-1">
                              {{ newDebt.alertText }}
                            </div>
                        </div>
                         <div class="col-lg-2 px-1 mb-2">
                            <button @click="saveEditDebt()" class="btn btn-primary btn-block">
                                <i class="fa fa-save"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div v-if="deleteDebt.state">
                    <hr>
                    <div class="row mx-0">
                        <div class="col-lg-10 px-1 mb-2">
                            <select name="deudas"  v-model="deleteDebt.selected" class="form-control">
                                <option disabled selected value="null">Selecciona una Deuda</option>
                                <option v-for="d in debts" :key="d.id" :value="d.id">
                                    <span v-if="d.isPaid">{{d.concept}} (pagada)</span>
                                    <span v-else>{{d.concept}}</span>
                                </option>                        
                            </select>
                        </div>                    
                         <div class="col-lg-2 px-1 mb-2">
                            <button @click="deleteDebtMethod()" class="btn btn-danger btn-block">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li v-for="(debt, index) in debts" :key="index" v-if="!debt.isPaid">
                        <div class="d-flex justify-content-between">
                            <div>
                                <button class="btn-comment" data-toggle="popover" data-placement="right" title="Nota" :data-content="debt.note">
                                    <i class="fa fa-comment-o"></i>
                                </button> 
                                <span style="font-size:13px;" class="badge badge-primary py-2">{{debt.concept}}</span>
                                <span style="font-size:13px;" class="badge badge-success py-2" data-toggle="tooltip" data-placement="top" title="Pagado">${{debt.paid}}</span>
                                <span style="font-size:13px;" class="badge badge-danger py-2" data-toggle="tooltip" data-placement="top" title="Restante">${{debt.debt}}</span>
                            </div>
                            <button class="btn btn-sm" v-bind:class="{'btn-outline-danger': debt.statePay, 'btn-outline-primary': !debt.statePay}" @click="showInput(index)">
                                <i v-bind:class="{'fa fa-times': debt.statePay, 'fa fa-plus': !debt.statePay}"></i>
                            </button>
                        </div>
                        <div class="justify-content-between d-flex my-2" v-if="debt.statePay">
                            <div class="w-100">
                                <input type="number" namefocus="focus2" name="monto" v-bind:class="{'is-invalid': stateAlert.state}" placeholder="Monto" min="1000" class="form-control" v-model="amount">
                                <div class="invalid-feedback mt-0 mb-2" v-if="stateAlert.state">
                                  {{ stateAlert.text }}
                                </div>
                            </div>
                            <div>
                                <button type="submit" v-on:click.prevent="pay(index)" class="btn btn-outline-success ml-2">pagar <i class="fa fa-money"></i></button>
                            </div>  
                        </div>                                
                        <hr class="my-3">
                    </li>
                </ul>
                <!-- <hr> -->
                Consultar Historial de deudas:
                <div class="d-flex justify-content-between">                            
                    <select name="deudas" class="form-control" v-model="history">
                        <option v-for="d in debts" :key="d.id" :value="d.id">
                            <span v-if="d.isPaid">{{d.concept}} (pagada)</span>
                            <span v-else>{{d.concept}}</span>
                        </option>                        
                    </select>
                    <button class="btn btn-outline-primary ml-3" @click="historyQuery">
                        Historial
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import EventBus from '../bus'
    export default {
        data() 
        {
            return {
                debts: [
                    // {id: 1, concept: 'Televisor', debt: 1000000, paid: 500000, statePay: false},
                    // {id: 2, concept: 'Nevera', debt: 1000000, paid: 2000000, statePay: false},
                    // {id: 3, concept: 'Horno', debt: 2300000, paid: 30000, statePay: false},
                ],
                amount: null,
                history: 1,
                debtName: null,
                countDebt: 0,
                newDebt: 
                {
                    state: false,
                    data: null,
                    alertText: false,
                    stateInput: ''
                },
                editDebt: 
                {
                    state: false,
                    data: null,
                    alertText: false,
                    stateInput: '',
                    selected: null
                },
                deleteDebt: 
                {
                    state: false,
                    selected: null
                },
                stateAlert:
                {
                    text: '',
                    state: true
                }
            }
        },
        mounted() 
        {            
            this.list();                    
        },       
        methods:
        {
            displayForm(form)
            {
                if(form == 'edit')
                {
                    this.editDebt.state = !this.editDebt.state
                    this.newDebt.state = false
                    this.deleteDebt.state = false
                }
                else{
                    if(form == 'new')
                    {
                        this.newDebt.state = !this.newDebt.state
                        this.editDebt.state = false
                        this.deleteDebt.state = false
                    }
                    else
                    {
                        if(form == 'delete')
                        {
                            this.deleteDebt.state = !this.deleteDebt.state
                            this.editDebt.state = false
                            this.newDebt.state = false
                        }
                    }
                }
            },
            editData()
            {
                axios.post('/debt', {debt: this.editDebt.selected}).then((response) => {
                    console.log(response)
                    $("input[name=editDebtInputName]").val(response.data.concept)
                    $("input[name=editDebtInputPay]").val(response.data.amount)
                    $("textarea[name=editDebtInputNote]").val(response.data.note)
                })
            },
            list()
            {                
                axios.post('/debtslist').then((response) => 
                { 
                    this.debts = response.data
                    let count = 0;
                    for (var i = 0; i < response.data.length; i++) 
                    {
                        if(!response.data[i].isPaid)
                        {
                            count++;
                        }
                        this.countDebt = count;
                    }                     
                    // $('[data-toggle="tooltip"]').tooltip()
                    setTimeout(function(){$('[data-toggle="tooltip"]').tooltip()}, 2)
                })
                $('[data-toggle="tooltip"]').tooltip()
            },
            pay(index)
            {                                
                if (this.amount > 1000 && Number.isInteger(this.amount/100)) 
                {
                    const a = this.debts[index].debt
                    const b = a.split('.').join('')
                    if(this.amount <= parseInt(b))
                    {                        
                        let params = 
                        {
                            'id': this.debts[index].id,
                            'amount': this.amount
                        }
                        axios.post('/paydebt', params).then((response) => {
                            this.debts[index].paid = new Intl.NumberFormat("de-DE").format(response.data.amount_paid)
                            this.debts[index].debt = new Intl.NumberFormat("de-DE").format(response.data.amount - response.data.amount_paid)
                            // console.log(response.data)
                            this.debts[index].statePay = !this.debts[index].statePay
                            this.newMovement('pago', params.amount, params.id)
                            this.list()
                        })
                    }
                    else
                    {
                        this.stateAlert.text = 'Ingresa un monto menor al actual en la cuenta';
                        this.stateAlert.state = true;
                    }
                }
                else
                {
                    this.stateAlert.text = 'Ingresa un monto mayor a [1000] o un numero valido';
                    this.stateAlert.state = true;
                }               
            },
            historyQuery()
            {
                axios.post('/debtHistory', {'debt': this.history}).then((response) => 
                {
                    // console.log(response.data)
                    let paid = response.data[response.data.length-1].paid;                    
                    let typeSwal = 'info';
                    if(paid)
                    {
                        paid = 'pagado';
                        typeSwal = 'success';
                    }
                    else
                    {
                        paid = 'sin pagar';
                    }                   
                    var html = `<p class="mb-1">Historial (${paid})</p>
                        <ul class="list-unstyled list-group-flush list-group">`
                    var tot = 0;
                    for (let index = 0; index < response.data.length-1; index++) 
                    {
                        let amount = new Intl.NumberFormat("de-DE").format(response.data[index].amount)
                        html += `<li class="list-group-item">`
                        html += `<p class="mb-0 d-flex justify-content-between align-items-center">
                                    <span class="badge badge-light"><strong>$${amount}</strong></span>
                                    <label style="font-size:15px;"><strong style="font-weight:bold;">${response.data[index].action} el:</strong> ${response.data[index].date}</label>
                                </p>`
                        html += `</li>`
                        tot += response.data[index].amount
                    }
                    html += '</ul>'
                    let cash = new Intl.NumberFormat("de-DE").format(tot)
                    html += `<h5 style="float:left;" class="mt-2"><strong>Total pagado:</strong> <span class="badge badge-dark"><strong>$${cash}</strong> </span></h5>`
                    if(response.data.length == 0)
                        html = '<h4>Ningún movimiento registrado a esta deuda</h4>'                                        
                    this.$swal(
                    {                
                        title: `${$('select[name=deudas] option:selected').text()}`,                        
                        type: typeSwal,   
                        html: html
                    })
                })
            },
            newMovement(type,cash,debt) 
            {
                let BusParams = 
                {
                    'type' : type,
                    'amount' : cash,
                    'debt': debt 
                }
                EventBus.$emit('newMovement', BusParams);
            } ,   
            showInput(index)
            {
                for (var i = 0; i < this.debts.length; i++) 
                {
                    if(i != index)
                        this.debts[i].statePay = false;
                }
                this.amount = null;
                this.stateAlert.state = false;
                this.debts[index].statePay = !this.debts[index].statePay;
                setTimeout(function(){$("input[namefocus=focus2]").focus()},1)
            },       
            saveNewDebt()
            {
                let name = $("input[name=newDebtInputName]").val()
                let pay = $("input[name=newDebtInputPay]").val()
                let note = $("textarea[name=newDebtInputNote]").val() 
                let send = true;                              
                if(name == '')
                {
                    this.newDebt.stateInput = 'newDebtInputName'
                    this.newDebt.alertText = 'el campo no puede estar vacio'
                    send = false;
                }
                else
                {
                    if(pay == '' || pay < 1000 || !Number.isInteger(pay/100))
                    {
                        this.newDebt.stateInput = 'newDebtInputPay'
                        this.newDebt.alertText = 'el campo no es valido'
                        send = false;
                    }
                    else
                    {
                        if(note == '')
                        {
                            this.newDebt.stateInput = 'newDebtInputNote'
                            this.newDebt.alertText = 'el campo no puede estar vacio'
                            send = false;
                        }
                    }
                }  
                if(send)
                {
                    const params =
                    {
                        'name': name,
                        'pay': pay,
                        'note': note
                    }
                     axios.post('/register/newDebt',
                    {
                        params
                    })
                    .then((response) =>  
                    {     
                        this.list()                        
                        this.$swal(
                        {
                            type: 'success',
                            text: 'Deuda registrada exitosamente',                        
                        });
                        $("input[name=newDebtInputName]").val('')
                        $("input[name=newDebtInputPay]").val('')
                        $("textarea[name=newDebtInputNote]").val('')
                        this.newDebt.state = false;                              
                        $('[data-toggle="tooltip"]').tooltip()
                    })
                    .catch(function (error) 
                    {
                        this.$swal(
                        {                
                            title: "error",
                            type: "error",   
                            text: `${error}`,                                
                            showCancelButton: true,                                
                        })
                    });
                    $('[data-toggle="tooltip"]').tooltip()
                }              
            },
            saveEditDebt()
            {
                let name = $("input[name=editDebtInputName]").val()
                let pay = $("input[name=editDebtInputPay]").val()
                let note = $("textarea[name=editDebtInputNote]").val() 
                let send = true;                              
                if(name == '')
                {
                    name = null
                }
                else
                {
                    if(pay == '' || pay < 1000 || !Number.isInteger(pay/100))
                    {
                        this.newDebt.stateInput = 'editDebtInputPay'
                        this.newDebt.alertText = 'el campo no es valido'
                        send = false;
                    }
                    else
                    {
                        if(note == '')
                        {
                            note = null
                        }
                    }
                }  
                if(send)
                {
                    const params =
                    {
                        'name': name,
                        'pay': pay,
                        'note': note,
                        'debt': this.editDebt.selected
                    }
                     axios.post('/register/editDebt',
                    {
                        params
                    })
                    .then((response) =>  
                    {     
                        this.list()
                        console.log(response)                        
                        this.$swal(
                        {
                            type: 'success',
                            text: 'Deuda modificada exitosamente',                        
                        });
                        $("input[name=editDebtInputName]").val('')
                        $("input[name=editDebtInputPay]").val('')
                        $("textarea[name=editDebtInputNote]").val('')
                        this.editDebt.state = false;
                        this.editDebt.selected = null;                              
                        $('[data-toggle="tooltip"]').tooltip()
                    })
                    .catch(function (error) 
                    {
                        this.$swal(
                        {                
                            title: "error",
                            type: "error",   
                            text: `${error}`,                                
                            showCancelButton: true,                                
                        })
                    });
                    $('[data-toggle="tooltip"]').tooltip()
                }    
            },
            deleteDebtMethod()
            {
                axios.post('/register/deleteDebt', {debt: this.deleteDebt.selected}).then((response) => {
                    console.log(response)
                    this.list()                        
                    this.$swal(
                    {
                        type: 'success',
                        text: 'Deuda eliminada exitosamente',                        
                    });
                    this.deleteDebt.state = false;
                    this.deleteDebt.selected = null;
                    $('[data-toggle="tooltip"]').tooltip() 
                })
                .catch(function (error) 
                {
                    this.$swal(
                    {                
                        title: "error",
                        type: "error",   
                        text: `${error}`,                                
                        showCancelButton: true,                                
                    })
                });
                $('[data-toggle="tooltip"]').tooltip()
            },
        }
    }
</script>
