<template>
    <div class="container px-0">
        <div class="card card-default">
            <div class="card-header">Movimientos</div>

            <div class="card-body">
                <h4 v-if="movements.length == 0">No hay Movimientos Registrados</h4>
                <ul v-else>
                    <li v-for="(mov, index) in movements" :key="index">
                        <p v-if="mov.actionn == 'Pagado'">
                            $<span>{{mov.amount}}</span>
                            <span>{{mov.actionn}}</span>
                            en
                            <span>{{mov.debt}}</span>
                            el
                            <span>{{mov.dat}}</span>
                        </p>
                        <p v-else>
                            $<span>{{mov.amount}}</span>
                            <span>{{mov.actionn}}</span>
                            el
                            <span>{{mov.dat}}</span>
                        </p>
                    </li>
                </ul>
                <hr>
                <span>Buscar Rango de Fechas</span>
                <div class="mt-2 row mx-0">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <form class="form-inline row mx-0" @submit.prevent="filter">
                            <div class="col-lg-6 px-1 mb-2">
                                <input type="date" name="from" id="" class="form-control w-100" v-model="start">
                            </div>
                            <div class="col-lg-6 px-1 mb-2">
                                <input type="date" name="to" id="" class="form-control w-100" v-model="end">
                            </div>
                            <div class="col-lg-12 col-12 px-1 mb-2">
                                <button type="submit" class="btn btn-outline-primary btn-block">Buscar <i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">                        
                        <div class="px-1">
                            <button class="btn btn-outline-primary btn-block" @click="listAll">
                                Más recientes <i class="fa fa-list-alt"></i>
                            </button>         
                        </div>               
                    </div>
                </div>
            </div>
        </div>        
    </div>
</template>
<style type="text/css">
@media (min-width: 992px)
{
    .container 
    {
        max-width: 1200px !important;
    }
}
</style>
<script>
    import EventBus from '../bus'
    export default {
        data() {
            return {
                movements: [
                    // {monto: 100000, action: 'Retirado', fecha: '27/06/2019'},
                    // {monto: 50000000, action: 'Consignado', fecha: '27/06/2019'},
                    // {monto: 20000, action: 'Retirado', fecha: '27/06/2019'},
                    // {monto: 5000, action: 'Retirado', fecha: '27/06/2019'},
                    // {monto: 250000000, action: 'Consignado', fecha: '27/06/2019'},
                    // {monto: 1020000, action: 'Retirado', fecha: '27/06/2019'},
                ],              
                start: '',
                end: ''
            }
        },
        mounted() 
        {
            this.listAll()                                                
        },
        created() 
        {                       
            EventBus.$on('newMovement',(item) => 
            {
                axios.post('/newMov', item).then((response) => 
                {
                    // console.log(response.data)
                    this.movements.unshift(response.data)
                    this.movements.splice(10,this.movements.length)
                })
            });
            $('[data-toggle="popover"]').popover()
            this.today()
            //  EventBus.$on('newDebtMovement',(item) => 
            // {
            //     axios.post('/newDebtMov', item).then((response) => 
            //     {
            //         console.log(response.data)
            //         this.movements.unshift(response.data)
            //         this.movements.pop()
            //     })
            // });
        },
        methods:
        {
            today()
            {
                var newDate = new Date();     
                let dateString = '';
                dateString += newDate.getFullYear() + "-";
                dateString += (newDate.getMonth() + 1) + "-";
                dateString += newDate.getDate();  
                setTimeout(function(){$('input[type=date]').val(dateString)}, 1000)
                this.start = dateString
                this.end = dateString
            },
            filter()
            {
                alert(this.start)
                let params = 
                {
                    'start': this.start,
                    'end': this.end
                }                
                axios.post('/filterMovs', params).then((response) => 
                {                    
                    this.movements = response.data
                    // this.today()
                })
            },

            listAll()
            {
                axios.post('/listMov').then((response) => 
                {
                    this.movements = response.data
                    this.today()
                    $('[data-toggle="popover"]').popover()
                    // console.log(response)
                })                
            }
        }
    }
</script>
